%footer.branding
	%p
		<img src="attachments/twitter-icon.png">
		%a.twitter(href="http://twitter.com/tiagoameller") Twitter
		<img src="attachments/github-icon.png">
		%a.github(href="https://github.com/mtbtiago") GitHub
	%footer.links
	%p
		Powered by <a href="http://nestacms.com">Nesta, a Ruby CMS</a>
