%nav.breadcrumb
  %a(href="/") Home

#content
  %section(role="main")
    %h1 Page not found

  %p
    You can email me at `tiago.ameller [put an "a" in a circle] gmail.com` and inform me about that


= haml :sidebar, :layout => false
