%nav.breadcrumb
  %a(href="#{path_to('/')}") Home

#content
  %section(role="main")
    %h1 Sorry, something went wrong

    %p
      An error occurred whilst we were trying to serve your page. 
      Please, feel free to <a href="mailto:tiago.ameller@gmail.com">email me</a> and inform about that

= haml :sidebar, :layout => false
