%nav.breadcrumb
  %a(href="/") Home

#content
  %section(role="main")
    %h1 Page not found

  %p
    Please, feel free to <a href="mailto:tiago.ameller@gmail.com">email me</a> and inform about that

= haml :sidebar, :layout => false
